@theme {
  --color-bg: #ffffff;
  --color-fg: oklch(20.5% 0 0);
  --color-fg-muted: #8e8e8e;
  --color-border: oklch(21.6% 0.006 56.043);
  --color-surface: oklch(97% 0 0);
  --color-shadow: oklch(14.5% 0 0);
  --color-overlay: oklch(100% 0 0 / 0.5);

  --color-warning: #f8cb45;
  --color-success: #cae57a;
  --color-info: #69d3e8;
  --color-danger: #da0f3a;

  --animation-leaf-fade-slide-in: leaf-fade-slide-in 0.4s
    cubic-bezier(0.22, 1, 0.36, 1) forwards;
  --animation-leaf-slide-in: leaf-slide-in 0.4s cubic-bezier(0.22, 1, 0.36, 1)
    forwards;
  --animation-leaf-fade-in: leaf-fade-in 0.4s cubic-bezier(0.22, 1, 0.36, 1)
    forwards;
  --animation-leaf-scale-in: leaf-scale-in 0.4s cubic-bezier(0.22, 1, 0.36, 1)
    forwards;
  --animation-leaf-slide-right: leaf-slide-right 0.4s
    cubic-bezier(0.22, 1, 0.36, 1) forwards;
  --animation-leaf-fade-up: leaf-fade-up 0.4s cubic-bezier(0.22, 1, 0.36, 1)
    forwards;

  --ease-standard: cubic-bezier(0.22, 1, 0.36, 1);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  --color-bg: #121212;
  --color-fg: oklch(98.5% 0 0);
  --color-fg-muted: #8e8e8e;
  --color-border: #000;
  --color-shadow: #000;
  --color-surface: #1e1e1e;
  --color-overlay: oklch(0% 0 0 / 0.5);
}
