@utility flex-center {
  @apply flex items-center justify-center;
}

@utility leaf-stagger {
  --stagger-delay: 100ms;
  --anim: leaf-fade-up;
  --stagger-duration: 0.5s;
  --stagger-ease: var(--ease-standard);
  --stagger-start: 0s;

  & > * {
    opacity: 0;
    animation: var(--anim) var(--stagger-duration) var(--stagger-ease) forwards;
    animation-delay: calc(var(--i, 0) * var(--stagger-delay));
  }
}

@utility pop-btn {
  --btn-bg: var(--color-surface);
  --btn-fg: var(--color-fg);
  --btn-border: var(--color-border);
  --btn-shadow: var(--color-shadow);

  @apply inline-block rounded border-2 text-[var(--btn-fg)] py-1.5 px-4 h-max cursor-pointer;

  background-color: var(--btn-bg);
  border-color: var(--btn-border);
  box-shadow: 4px 4px 0 0 var(--btn-shadow);

  &.bordered {
    position: relative;
    --shadow-color: transparent;
    box-shadow: none;

    &::after {
      content: "";
      @apply w-full h-[calc(100%+3px)] top-1 left-1.5 -z-1 absolute;
      border: 2px solid var(--btn-border);
      border-radius: inherit;
      z-index: -1;
      transition:
        top 100ms ease-out,
        left 100ms ease-out;
    }
  }

  &.interactive {
    transition:
      transform 100ms ease-out,
      box-shadow 100ms ease-out;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: 2px 2px 0 0 var(--btn-shadow);

      &.bordered::after {
        top: 2px;
        left: 5px;
      }
    }

    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0 0 0 0 var(--btn-shadow);

      &.bordered::after {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.active {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 0 var(--btn-shadow);

    &.bordered::after {
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  &:disabled,
  &.disabled {
    --btn-bg: #f3f4f6;
    --btn-border: #d1d5db;
    --btn-shadow: #9ca3af;
    @apply text-neutral-400;
  }
}

@layer utilities {
  .leafy-container {
    @apply max-w-[calc(100%_-_1rem)] mx-auto lg:max-w-7xl;
  }

  .leafy-btn {
    @apply flex-center rounded-lg bg-neutral-800 text-white px-4 py-2 hover:scale-110 transition-all;
  }

  .leafy-btn-primary {
    @apply bg-[--color-surface] text-[--color-fg] hover:brightness-110;
  }

  .leaf-animated-letters {
    --anim: leaf-fade-in;

    & > .letter {
      display: inline;
      opacity: 0;
      animation: var(--anim) 0.4s var(--ease-standard) forwards;
      animation-delay: calc(var(--i, 0) * 0.05s);
    }
  }

  *:has(.pop-btn.bordered) {
    isolation: isolate;
  }
}
